
/* styles.css */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
  }
  h1, h2, p {
    text-align: center;
    color: #444;
  }
  header, nav, footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 2rem;
  }
  nav a {
    padding: 14px 20px;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
    margin: 0 15px;
  }
  nav a:hover {
    color: #4CAF50;
  }
  section {
    padding: 50px 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  .social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }
  .social-icons a:hover img {
    transform: scale(1.2);
  }
  footer {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
  }
  .footer-logo {
    float: right; /* Aligns the logo to the right */
    width: 50px;
    height: auto; 
    max-width: 100%;
    margin: 1rem; /* Adds space around the logo */
  }
  #hero {
    background-image: url('https://plus.unsplash.com/premium_photo-1718188840468-966eda66d93f?w=1400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG5ldXJvbnN8ZW58MHx8MHx8fDA%3D');
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    color: white; /* Change text color to ensure visibility */
    text-align: center;
    padding: 50px 0;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrollbars */
    position: relative; /* For the overlay */
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1; /* Ensure the overlay is on top */
}

#hero h1, #hero p {
    position: relative; /* Keep text above the overlay */
    z-index: 2; /* Ensure text is on top */
}
px 0;

  .bio-section {
    display: flex;
    align-items: center;
  }
  
  .bio-image {
    width: 50%; /* Adjust to make the image smaller */
    margin-right: 20px; /* Adds spacing between the image and the text */
  }
  
  .bio-text {
    width: 50%; /* Takes up the other half of the container */
  }
  
  